
.flipbook-viewport{
	overflow:hidden;
	width:100%;
	height:100%;
}

.flipbook-viewport .container{
	position:fixed;
	top:50%;
	left:50%;
	margin:auto;
}

.flipbook-viewport .flipbook{
	width:922px;
	height:550px;
	left:-461px;
	top:-250px;
}

.flipbook-viewport .page{
	width:461px;
	height:550px;
	background-color:#300;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.3);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.3);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.3);
	box-shadow:0 0 20px rgba(0,0,0,0.3);
}

.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 30px #FF9800;
	-o-box-shadow:0 0 30px #FF9800;
	-ms-box-shadow:0 0 30px #FF9800;
	box-shadow:0 0 30px #FF9800;
}